<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.beragenda">

    <!-- adding camera, write external storage-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BerAgenda">
        <activity android:name=".activity.EditContentBoardActivity"></activity>
        <activity android:name=".activity.AddContentBoardActivity" />
        <activity android:name=".activity.EditBoardActivity"></activity>
        <activity android:name=".activity.AddBoardActivity" />
        <activity android:name=".activity.BoardCardActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.HomePageActivity">

        </activity>
        <activity android:name=".activity.SignInSignUpActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>